<!DOCTYPE html>
<html>

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="{% static "IndiaCount/base.css" %}" rel="stylesheet">
</head>

<body>
    <header>
        <h1 class="title-h1">Covid-19</h1>
    </header>
    <p id="fline">Data for country: India</p>
</body>
</html>
